# Project exclude paths
/.gradle/
/Lab_01/CharAt/build/
/Lab_01/FirstAndLastInverted/build/
/Lab_01/IndexOf/build/
/Lab_01/InvertHalfString/build/
/Lab_01/PrintMiddleChar/build/
/Lab_01/Rectangle/build/
/Lab_01/StringBuilder/build/
/Lab_01/StringClass/build/
/Lab_01/UpperCaseInitial/build/
/Lab_02/Car/build/
/Lab_02/Infected/build/
/Lab_02/InputChecker/build/
/Lab_02/InputChecker/out/
/Lab_02/InputChecker/out/production/classes/
/Lab_02/Locker/build/
/Lab_02/SavingAccount/build/
/Lab_02/Student/build/
/Lab_02/VendingMachine/build/
/Lab_03/Bank/build/
/Lab_03/Dice/build/
/Lab_03/Dice/out/
/Lab_03/Dice/out/production/classes/
/Lab_03/MagicSquare/build/
/Lab_03/Purse/build/
/Lab_03/Tic-tac-toe/build/
/Lab_03/Tic-tac-toe/out/
/Lab_03/Tic-tac-toe/out/production/classes/